<div class="container text-center">
  <div class="row">

    <!-- <div class="col-auto"> -->
    <!--   @for (hora of horas; track $index) { -->
    <!--   <div class="row">{{ hora }}</div> -->
    <!--   } -->
    <!-- </div> -->

    <div class="col text-center">
      <div class="row">
        <div class="col">
          <button type="button" class="btn light" (click)="cambiarSemana(-7)">&lt;</button>
        </div>
        <div class="col">
          <h1>{{ stringMes(fechaVisual) }}</h1>
        </div>
        <div class="col">
          <button type="button" class="btn light" (click)="cambiarSemana(7)">&gt;</button>
        </div>
      </div>

      <div class="row justify-content-center">
        @for (dia of dias; track $index) {
        <div class="col" [ngClass]="$index == 0 ? 'offset-1' : ''">
          <h3>{{ dia }}</h3>
        </div>
        }
      </div>

      <div class="row justify-content-center">
        @for (dia of diasSemana; track $index) {
        <div class="col" [ngClass]="$index == 0 ? 'offset-1' : ''">
          {{ dia }}
        </div>
        }
      </div>

      <div class="row">
        @for (filas of celdasActivas; track $index) {
          <div class="row justify-content-center m-0">
            <div class="col-1">{{ $index }}</div>
            @for (cols of filas; track $index) {
              <div class="col p-0">
                @if (cols.activo) {
                  <a [routerLink]="['/modificar', cols.id]" class="active"></a>
                }
              </div>
            }
          </div>
        }
      </div>

    </div>
  </div>
</div>
