<div class="container text-center">
  <div class="row">

    <!-- <div class="col-auto"> -->
    <!--   @for (hora of horas; track $index) { -->
    <!--   <div class="row">{{ hora }}</div> -->
    <!--   } -->
    <!-- </div> -->

    <div class="col text-center">
      <div class="row">
        <div class="col">
          <button type="button" class="btn light" (click)="cambiarSemana(-7)">&lt;</button>
        </div>
        <div class="col">
          <h1>{{ stringMes(fechaVisual) }}</h1>
        </div>
        <div class="col">
          <button type="button" class="btn light" (click)="cambiarSemana(7)">&gt;</button>
        </div>
      </div>

      <div class="row justify-content-center">
        @for (dia of dias; track $index) {
        <div class="col" [ngClass]="$index == 0 ? 'offset-1' : ''">
          <h3>{{ dia }}</h3>
        </div>
        }
      </div>

      <div class="row justify-content-center">
        @for (dia of diasSemana; track $index) {
        <div class="col" [ngClass]="$index == 0 ? 'offset-1' : ''">
          {{ dia }}
        </div>
        }
      </div>

      <div class="row justify-content-center gy-3" >
        @for (hora of horas; track $index) {
          <div class="col-1">{{ hora }}</div>
          <div class="col-11"></div>
          <!-- TODO: Implementar tareas por día de la semana -->
        }
      </div>

    </div>
  </div>
</div>
