<div class="row text-center">
  <div class="col">
    <button type="button" class="btn light" (click)="cambiarMes(-1)">&lt;</button>
  </div>
  <div class="col">
    <h1>{{ stringMes(fechaVisual) }}</h1>
  </div>
  <div class="col">
    <button type="button" class="btn light" (click)="cambiarMes(1)">&gt;</button>
  </div>
</div>

<div class="row text-center">

  @for (dia of dias; track $index) {
  <div class="col">
    <h3>{{ dia }}</h3>
  </div>
  }

</div>

@for (semana of semanas; track semana.id) {
<div class="row text-center">

  @for (dia of semana.dias; track $index) {
  <div class="col">
    <button class="btn no-margin position-relative"
          (click)="verDia(dia.diaDelMes)">
      {{ dia.diaDelMes }}
      @for (tarea of tareas; track tarea.id) {
        @if (tarea.fechaTermino.getDate() === dia.diaDelMes) {
          <span class="position-absolute top-10 start-100 translate-middle p-1
      bg-danger border border-light rounded-circle">
            <span class="visually-hidden">Tareas disponibles</span>
          </span>
        }
      }
    </button>
  </div>
  }

</div>
}
