<div class="row text-center">
  <div class="col h3">
    {{ dia.getDate() }} - {{ diasStrings[dia.getDay()] }}
  </div>
</div>

@for (tarea of tareasDelDia; track tarea.id) {
<div class="row">
  <div class="card">

    <div class="row card-header btn-group">
      <div class="row align-items-center">

        <div class="col h5">
          {{ tarea.titulo }}
        </div>

        <div class="col-4 text-end">
            <select (change)="cambiarEstado(tarea.id, $event.target)">
              <option value="0" [selected]="tarea.estado === 0">Completada</option>
              <option value="1" [selected]="tarea.estado === 1">En Progreso</option>
              <option value="2" [selected]="tarea.estado === 2">Incompleta</option>
            </select>
        </div>

        <div class="col-auto">
         <button class="fab-btn-edit" [routerLink]="['/modificar', tarea.id]"><i class="bi bi-pencil-fill"></i></button>
        </div>

        <div class="col-auto">
        <button class="fab-btn-delete" (click)="deleteTarea(tarea)"><i class="bi bi-trash-fill"></i></button>
        </div>

      </div>
    </div>

    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> {{ tarea.descripcion }} </li>
        @if (tarea.fechaInicio) {
          <li class="list-group-item">
          Desde
              {{tarea.fechaInicio.getDate()}}/{{tarea.fechaInicio.getMonth()+1}}/{{tarea.fechaInicio.getFullYear()}},
              {{diasStrings[tarea.fechaInicio.getDay()]}} a las {{
              ("0" + tarea.fechaInicio.getHours()).slice(-2) }}:{{
              ("0" + tarea.fechaInicio.getMinutes()).slice(-2) }} </li>
        }
        <li class="list-group-item">
            Hasta
            {{tarea.fechaTermino.getDate()}}/{{tarea.fechaTermino.getMonth()+1}}/{{tarea.fechaTermino.getFullYear()}},
            {{diasStrings[tarea.fechaTermino.getDay()]}} a las {{
            ("0" + tarea.fechaTermino.getHours()).slice(-2) }}:{{
            ("0" + tarea.fechaTermino.getMinutes()).slice(-2) }} </li>
        @if (tarea.notas) {
            <li class="list-group-item">{{ tarea.notas }}</li>
          }
      </ul>
    </div>
  </div>
</div>
}
