<div class="container">
  <div class="row">
    <div class="btn-group col" role="group">

      <input value="mes" type="radio" class="btn-check" name="rango" id="mes" autocomplete="off"
        (change)="cambiarRango($event)" checked>
      <label class="btn btn-outline-primary" for="mes">Mes</label>

      <input value="semana" type="radio" class="btn-check" name="rango" id="semana" autocomplete="off"
        (change)="cambiarRango($event)">
      <label class="btn btn-outline-primary" for="semana">Semana</label>

      <input value="dia" type="radio" class="btn-check" name="rango" id="dia" autocomplete="off"
        (change)="cambiarRango($event)">
      <label class="btn btn-outline-primary" for="dia">Día</label>

      <input value="registrar" type="radio" class="btn-check" name="registrar" id="registrar" autocomplete="off"
        (change)="cambiarRango($event)">
      <label class="btn btn-outline-primary" for="registrar">Nueva Tarea</label>

      <input value="historial" type="radio" class="btn-check" name="historial" id="historial" autocomplete="off"
        (change)="cambiarRango($event)">
      <label class="btn btn-outline-primary" for="historial">Historial</label>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
