<div class="btn-group
    position-absolute
    top-0 start-50 translate-middle-x" role="group">
  <input value="mes" type="radio" class="btn-check" name="rango" id="mes" autocomplete="off"
    (change)="cambiarRango($event)" checked>
  <label class="btn btn-outline-primary" for="mes">Mes</label>

  <input value="semana" type="radio" class="btn-check" name="rango" id="semana" autocomplete="off"
    (change)="cambiarRango($event)">
  <label class="btn btn-outline-primary" for="semana">Semana</label>

  <input value="dia" type="radio" class="btn-check" name="rango" id="dia" autocomplete="off"
    (change)="cambiarRango($event)">
  <label class="btn btn-outline-primary" for="dia">Día</label>
</div>

<div>
  @if (rangoCalendario == "mes") {
  <app-mes></app-mes>
  } @else if (rangoCalendario == "semana") {
  <app-semana></app-semana>
  } @else {
  <app-dia></app-dia>
  }
</div>
